services:
  app:
    build: .
    environment:
      apiKey: ${apiKey}
      authDomain: ${authDomain}
      projectId: ${projectId}
      storageBucket: ${storageBucket}
      messagingSenderId: ${messagingSenderId}
      appId: ${appId}
      measurementId: ${measurementId}
    ports:
      - "80"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      rollback_config:
        parallelism: 1
        delay: 5s